.model-pic{
  height:45vw;
  -moz-box-shadow: 3px 4px 5px rgba(0,0,0,.5);
  -webkit-box-shadow: 3px 4px 5px rgba(0,0,0,.5);
  box-shadow: 3px 4px 5px rgba(0,0,0,.5);
}
#zoe-btn{
  position:fixed;
  clear:none;
  z-index: 10;
  margin-top: 25px;
  margin-left: 25px;
  text-shadow: 2px 2px 2px lightgray;
  font-size:3vw;
}
#zoe-prof{
  width:17vw;
  margin-left: 2vw;
}
#aboutPara{
  color:white;
}
.about{
  background-color: black;
  height:110%;
  width:55%;
  clear:both;
  position:relative;
  float: left;
  z-index: 1;
}
.back-photo{
  position: relative;
  background-size:cover;
  z-index: 0;
}
.photo1{
  background-image: url("http://i.imgur.com/ZygtRJG.png");
}
.photo2{
  background-image: url("http://i.imgur.com/IBVwiU1.png");
}
.photo3{
  background-image: url("http://i.imgur.com/BpeBImg.png");
}
.hidden{
  display: none;
  position: fixed;
  z-index: -1;
}
.phone-icon{
  width:2vw;
  margin-right:10px;
}
.insta-icon{
  width:4vw;
  margin-left:-14px;
}
#cosmic-big{
  width:110%;
  position:relative;
}



@media screen and (max-width: 1000px) and (min-width: 100px) {
  .back-photo{
    width:100%;
    height:90%;
  }
  .model-pic{
    height:70%;
    margin-top: 100%;
    margin-left: 100%;
  }
  .about{
    height:70%;
    width:100%;
  }
  #zoe-prof{
    width:100%;
    height:80%;
  }
  #aboutPara{
    color:white;
    font-size: 3vw;
  }
  #zoe-btn{
    clear:none;
    z-index: 10;
    margin-top: 25px;
    margin-left: 25px;
    text-shadow: 2px 2px 2px lightgray;
    font-size:6vw;
  }
  .hide-div{
    display: none;
    position: fixed !important;
    z-index: -1;
  }
}
